<div class="container">

    <div *ngIf="tipo_entrada; else Salida">
      <div>
        <h1>No ha marcado aún su entrada!</h1>
        <button type="submit" class="w-50 btn btn-lg btn-primary" (click)="marcarEntrada()">Marcar Entrada</button>
      </div>
    </div>

    <div>
      <ng-template #Salida>
        <div>
          <div>
            <h1>Último entrada <br> {{date}} <br> {{checkTime}}</h1>
          </div>
            <button type="submit" class="w-50 btn btn btn-primary" (click)="marcarEntrada()">Marcar nuevamente</button>
          </div>
      </ng-template>
    </div>  
</div>
